<%= error_messages_for 'ad' %>

<!--[form:ad]-->
<p><label for="ad_username">Username</label><br/>
<%= text_field 'ad', 'username'  %></p>

<p><label for="ad_password">Password</label><br/>
<%= password_field 'ad', 'password'  %></p>
<!--[eoform:ad]-->

